{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h2>Input component example</h2>
    {{ component('input', { label: 'Input 1' }) }}
    {{ component('input', { label: 'Input 2', type: 'email' }) }}
    {{ component('input', { label: 'Input 3', value: 'default' }) }}
    {{ component('input', { label: 'Input 4', errors: ['some error', 'another error'] }) }}
    {{ component('input', { label: 'Input 5', errors: 'error' }) }}

    <h2>Component with service example</h2>
    <p>Components are services but cloned before injecting <em>state</em>. Below, the state variables
    should be different but the injected service id should be the same (not cloned).</p>
    {{ component('with_service', { state: 'foo' }) }}
    {{ component('with_service') }}
    {{ component('with_service', { state: 'bar' }) }}

    <h2>Markdown live component</h2>
    {{ component('markdown_input', { name: 'body', value: 'This is **working**.' }) }}

    <h2>Second Markdown live component with custom label</h2>
    {{ component('markdown_input', { name: 'body', value: 'This is **working**.', label: 'Custom Label' }) }}
{% endblock %}
